body,
html {
  margin: 0;
}

header {
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  height: 55px;
}

header > img {
  width: 24px;
  margin-right: 7px;
}

header > h1 {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Inter;
}
